.hero {

    height: 60vh;
    background: rgba(0, 0, 0, 0.1);
}


.full-width {

    position: relative;
    background-position: 50% 50%;
    background-size: cover;
}

.full-image {

    max-width: 100%;
}